html(lang="en")

head
    meta(content = "text/html",     charset = "utf-8")
    meta(name    = "viewport",      content = "width=device-width, initial-scale=1")
    meta(name    = "description",   content = "A nodejs version management")
    meta(name    = "keywords",      content = "node, nodejs, verion manager, version management")
    meta(name    = "author",        content = "Victor Eduardo Barreto")
    link(rel     = "shortcut icon", href    = "img/favicon.ico', type='image/x-icon")
    title Nodem - Node version manager

    style.
        body{
            top              : 0;
            bottom           : 0;
            margin           : 0;
            padding          : 0;
            background-color : black;
        }

        #loading {
            background-color    : black;
            display             : block;
            z-index             : 99;
            position            : fixed;
            display             : block;
            background-size     : cover;
            background-image    : url('/img/hud.webp');
            background-position : center;
            width               : 100%;
            height              : 100%;
            font-size           : 30px;
        }

        #loading-image {
            background-image : linear-gradient(to right, rgba(100,100,100, 0.4), rgba(200,100,100, 0.4));
            width            : 100%;
            height           : 100%;
            z-index          : 100;
        }

        #loading-text-area {
            color       : cyan;
            position    : relative;
            top         : 50vh;
            transform   : translateY(-50%);
            text-align  : center;
            text-shadow : 0px 0px 18px cyan;
        }

        .loading-dots:after {
          content: '.';
          animation: dots 1s steps(5, end) infinite;}

        @keyframes dots {
          0%, 20% {
            color: rgba(0,0,0,0);
            text-shadow:
              .25em 0 18 rgba(0,0,0,0),
              .5em 0 18 rgba(0,0,0,0);}
          40% {
            color: cyan;
            text-shadow:
              .25em 0 18 rgba(0,0,0,0),
              .5em 0 0 rgba(0,0,0,0);
            }
          60% {
            text-shadow:
              .25em 0 18 cyan,
              .5em 0 0 rgba(0,0,0,0);}
          80%, 100% {
            text-shadow:
              .25em 0 0 cyan,
              .5em 0 0 cyan;}
        }

    script.
        window.onload = () => {
            document.getElementById("loading").style.display = 'none'
            document.getElementById("footer").classList.remove('d-none')
            this.initSystem();
        }
    link(href="css/main.css", rel="stylesheet")

body
    div#loading
        div#loading-image
            div#loading-text-area
                span#loading-text.loading-dots connecting

    div.container-fluid
        div.row
            div.col.float-panel
                div.row.text-center
                    div#brand-title.col-sm-12.col-md-12.col-lg-4.offset-lg-4.display-1 NODEM
                    div.col-sm-12.col-md-12.col-lg-4.align-bottom
                        span#version.text-neon loading version...

                div.row
                    div.col-sm-12.col-md-3
                        div.col-sm-12
                            a(onClick="terminal('use')")
                                h4.pt-2.mt-1.text-neon-hover.terminal-effect(data="how to use")

                        div.col-sm-12
                            a(onClick="terminal('install')")
                                h4.pt-2.mt-1.text-neon-hover.terminal-effect(data="install")

                        div.col-sm-12
                            a(onClick="terminal('about')")
                                h4.pt-2.mt-1.text-neon-hover.terminal-effect(data="about")

                        a(onClick="terminal('end')")
                            span(data="-")

                        div.col-sm-12
                            a(href="https://github.com/marcoT89/nodem" target="blank")
                                h4.pt-2.mt-1.text-neon-hover.terminal-effect(data="git")

                    div.col-sm-12.col-md-9
                        div#terminal.col-sm-12.text-neon

                    div#footer.col-sm-12.fixed-bottom.d-none
                        h4.float-right.text-neon nodejs version manager

                    div#footer.col-sm-12.fixed-bottom
                        div#statusbar.float-left.text-neon

    block scripts
        script(src='js/index.js')
